<div id=form-newcontact>
    <label>New Contact</label>

	<br>
	
    <label for="name">Name</label>
    <input id="name" type="text" placeholder="Enter name">
    
    <br>

    <label for="email">Email</label>
    <input id="email" type="text" placeholder="Enter email">
    
    <br>

    <label for="phoneNumber">PhoneNumber</label>
    <input id="phoneNumber" type="text" placeholder="Enter phone number">

    <br>
    <button id="create">Create Contact</button>    
</div>